.region-triptych {

  .col-md-4 {
    margin-bottom: 5px;
    padding-left: 3px;
    padding-right: 3px;
  }

  .first {
    padding-left: 0;
  }

  .middle {
    padding-right: 0;
  }

  .last {
    padding-left: 0;
    padding-right: 0;
  }
}

