/**
 * search result pages
 *
 * Code by Istvan Csaki
 */
 
 /**
 * search form in header
 */
#triptych #block-views-exp-dhusearch-page,
#triptych .block-search-api-page {
  padding: 19px 5px 0 5px;
}
#triptych .views-exposed-widgets {
  padding: 8px 0 0 12px;
}
#views-exposed-form-multi-index-kereso-page-kereso {
  
}
#views-exposed-form-multi-index-kereso-page-kereso #edit-text-wrapper {
  margin-left: 0;
  margin-top: 0;
}
#triptych #views-exposed-form-multi-index-kereso-page-kereso .form-submit {
  background: none repeat scroll 0 0 #34495E;
  border: medium none;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
  color: white;
  font-size: 14.5px;
  margin-top: 0;
  padding: 7px 23px;
  text-decoration: none;
  text-shadow: none;
  transition: all 0.25s ease 0s;
  width: 100%;
  height: 37px;
}
#triptych #views-exposed-form-multi-index-kereso-page-kereso .form-submit:hover {
  background-color: #4e6d8d;
  color: white;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
  -webkit-backface-visibility: hidden;
}
#views-exposed-form-multi-index-kereso-page-kereso input.form-text {
  border: 2px solid #DCE4EC;
  border-radius: 6px 6px 6px 6px;
  box-shadow: none;
  color: #34495E;
  font-family: "Lato",sans-serif;
  font-size: 14px;
  padding: 11px 0 9px 10px;
  text-indent: 1px;
  width: 158px;
}
body.chrome #views-exposed-form-multi-index-kereso-page-kereso input.form-text {
  padding-top: 8px;
}
body.chrome #triptych #views-exposed-form-multi-index-kereso-page-kereso .form-submit {
  margin-top: 1px;
  height: 36px;
}
/**
 * search result style
 */
 
.view-multi-index-kereso {
  
}
.view-multi-index-kereso .views-row  {
  margin-bottom: 15px;
}
.view-multi-index-kereso .comment {
  background: url("../images/comment_icon.png") no-repeat scroll 11px 11px #00588D;
  padding-left: 53px;
}
.view-multi-index-kereso .comment .comment-in-wrapper {
  background-color: #fff;
  padding-left: 10px;
}
