body {
  background-color: #fff;
}

a.button, span.button {
  display: inline-block;
  padding-left: 8px;
  background: url(../images/green-button-start.png) no-repeat 0 50%;

  text-decoration: none;
}

a.button span, span.button span {
  display: inline-block;
  padding-right: 10px;
  line-height: 36px;
  vertical-align: middle;
  color: #fff;
  background: url(../images/green-button-end.png) no-repeat 100% 50%;
}

/**
 * Tables. - borrowed from seven theme
 */
table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}
table td,
table th {
  vertical-align: middle;
  padding: 8px 10px;
  border: 0;
  color: #000;
}
tr.even,
tr.odd {
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #bebfb9;
  background: #f3f4ee;
}
tr.odd {
  background: #fff;
}
tr.drag {
  background: #fe7;
}
tr.drag-previous {
  background: #ffb;
}

#content tr:hover,
#content tr:hover td {
  background: #E6FCB6 !important;
}

#content tr:hover a:hover,
#content tr:hover td a:hover {
  color: #064771;
}

table th {
  text-transform: uppercase;
  background: #e1e2dc;
  font-weight: normal;
  border-width: 1px;
  border-style: solid;
  border-color: #bebfb9;
  padding: 3px 10px;
}
table th.active {
  background: #bdbeb9;
}
table th a {
  display: block;
  position: relative;
}
table th.active a {
  padding: 0 25px 0 0; /* LTR */
}
table th.active img {
  position: absolute;
  top: 3px;
  right: 3px;
}
table td.active {
  background: #e9e9dd;
}
table tr.odd td.active {
  background: #f3f4ee;
}
table tr.selected td.active,
table tr.selected td {
  background: #ffc;
  border-color: #eeb;
}
table.system-status-report tr {
  border-bottom: 1px solid #ccc;
}
table.system-status-report tr.ok {
  color: #255b1e;
  background-color: #e5ffe2;
}
table.system-status-report tr.info {
  color: #040f37;
  background-color: #bdf;
}
table.system-status-report tr.warning {
  color: #840;
  background-color: #fffce5;
}
table.system-status-report tr.error {
  color: #8c2e0b;
  background-color: #fef5f1;
}
/**
 * Exception for webkit bug with the right border of the last cell
 * in some tables, since it's webkit only, we can use :last-child
 */
tr td:last-child {
  border-right: 1px solid #BEBFB9;
}

pre {
  overflow: auto;
}


/* HEADER */

#header {
  height: 104px;
  position: relative;
}

#header #secondary-menu {
  position: absolute;
  right: 0;
  text-align: right;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
}
#header #secondary-menu ul li {
	padding-right: 0;
	margin-left: 1em;
}

#logo {
  height: 68px;
  padding-top: 34px;
}

#header-content {
  height: 44px;
}

#main-menu {
  height: 60px;
}

#main-menu ul li {
  padding: 0;
  margin: 0;
  display: inline-block;
  border-right: 1px solid #E6E6E6;
  font-size: 16px;
  line-height: 1;
}

#main-menu ul li.last {
  border-right: 0;
}

#main-menu-links {
  text-align: right;
}

#main-menu ul li a {
  display: inline-block;
  padding: 0 25px;
  height: 60px;
  line-height: 60px;
  vertical-align: middle;
  color: #000;
  text-decoration: none;
}

#main-menu ul li.last a {
  padding-right: 5px;
}
#main-menu ul li a:hover {
  color: #555;
}

#triptych-wrapper {
  height: 64px;
}
#triptych .grid-8:first-child{
  margin-left: 0;
  width: 317px;
}
#triptych .grid-8:last-child{
  margin-right: 0;
  width: 313px;
}
#triptych div.region {
  height: 54px;
  background-color: #F6F6F2;
}

#triptych h2, #triptych h3 {
  font-size: 18px;
  font-weight: normal;
  white-space: nowrap;
  padding: 0;
  margin: 0;
}

#triptych table {
  width: 100%;
  border: 0;
}

#triptych table td {
  height: 54px;
  padding: 3px 5px;
  vertical-align: middle;
  font-size: 12px;
  border: 0;
}

#triptych a {
  padding-right: 10px;
}

#triptych a.translation {
  float: right;
}

#block-drupalorg-scraper-releases {
  padding: 9px 5px 0 5px;
}

#block-drupalorg-scraper-releases h2 { margin: 10px 30px 0 0; }

#triptych #block-views-exp-dhusearch-page h2,
#triptych .block-search-api-page h2,
#triptych #block-views-exp-dhusearch-page div,
#triptych .block-search-api-page div,
#block-drupalorg-scraper-releases h2,
#block-drupalorg-scraper-releases div{
  float: left;
}


#triptych .views-exposed-form .views-exposed-widget {
  margin: 0 0 0 12px;
  padding: 0;
}

#triptych .views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 2px;
}

#triptych #block-views-exp-dhusearch-page div.form-item,
#triptych .block-search-api-page div.form-item {
  margin: 0 10px;
}

#triptych #block-views-exp-dhusearch-page div.form-type-textfield input.form-text,
#triptych .block-search-api-page div.form-type-textfield input.form-text {
  width: 100px;
}

#triptych #block-views-exp-dhusearch-page input.form-submit,
#triptych .block-search-api-page input.form-submit {
  font-size: 11px;
}

/* front hightlighted slideshow */
#highlighted-wrapper {
  
}

#highlighted h2 {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 20px;
  font-size: 40px;
  color: #fff;
  font-weight: normal;
}

#highlighted h2 em {
  color: #FF7826;
  font-style: normal;
}

#highlighted .highlight-body {
  width: 350px;
  color: #fff;
  font-size: 16px;
}


#main-second-row div {
  padding: 20px 0;
  font-size: 16px;
}

#block-drupalorg-scraper-headcount {
  margin-top: 16px;
  margin-bottom: 46px;
  padding-left: 60px;
  height: 56px;
  line-height: 56px;
  vertical-align: middle;
  font-size: 24px;
  color: #8B8B7F;
  background: url(../images/drupal-logo-oxigen.jpg) no-repeat 0 50%;
}

#block-drupalorg-scraper-headcount em {
  font-style: normal;
  color: #434339;
}


#main {
  margin-bottom: 36px;
  background: url(../images/sidebar-bkg.jpg) repeat-y 100% 0;
  position: relative;
}

body.front #main {
  background: none;
}


div#block-views-recent-planet-block div.views-field-picture {
  float: left;
  margin-right: 5px;
}

div#block-views-recent-planet-block div.views-row {
  margin-bottom: 8px;
}

div#block-views-recent-planet-block span.views-field-created {
  font-weight: bold;
}

div#block-views-recent-planet-block img {
  width: 30px;
}

#main-blocks-wrapper div.content {
  padding-right: 10px;
}

#main-blocks-wrapper div.view-footer {
  margin-top: 24px;
  text-align: right;
  font-size: 13px;
  font-weight: bold;
}

#main-blocks-wrapper div.views-field-created {
  float: left;
  width: 30px;
  height: 26px;
  margin-top: 4px;
  margin-right: 10px;
  margin-bottom: 16px;
  padding: 2px 0;
  text-align: center;
  background-color: #8B8B81;
  line-height: 1;
}

#main-blocks-wrapper div.views-field-created span {
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

#main-blocks-wrapper div.views-row {
  margin-bottom: 8px;
}

.tabs {
  margin-bottom: 20px;
}
.tabs ul.primary {
  padding: 0 3px;
  margin: 0;
  overflow: hidden;
  border: none;
  background: transparent url(../images/tabs-border.png) repeat-x left bottom;
}
.tabs ul.primary li {
  display: block;
  float: left; /* LTR */
  vertical-align: bottom;
  margin: 0 5px 0 0; /* LTR */
}
.tabs ul.primary li.active a {
  border-bottom: 1px solid #ffffff;
}
.tabs ul.primary li a {
  background-color: white;
  height: 1.8em;
  line-height: 1.9;
  display: block;
  font-size: 1em;
  float: left; /* not LTR */
  padding: 0 10px 3px;
  margin: 0;
}
.tabs ul.primary li.active a {
  background-color: #ffffff;
}
.tabs ul.secondary {
  border-bottom: none;
  padding: 0.5em 0;
}
.tabs ul.secondary li {
  display: block;
  float: left; /* LTR */
}
.tabs ul.secondary li:last-child {
  border-right: none; /* LTR */
}
.tabs ul.secondary li:first-child {
  padding-left: 0; /* LTR */
}
.tabs ul.secondary li a {
  padding: 0.25em 0.5em;
}
.tabs ul.secondary li a.active {
  background: #f2f2f2;
  border-bottom: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
ul.action-links {
  list-style: none;
  margin: 5px;
  padding: 0.5em 1em;
}
ul.action-links li {
  display: inline-block;
  margin-left: 10px;
}

.view a.button-action,
ul.action-links li a {
  padding-left: 18px;
  background: url(../images/add.png) no-repeat left center;
  margin: 0 10px 0 0;
}

/* Content */
#content {
  position: relative;
}

.front #content {
  padding-top: 32px;
}

#breadcrumb {
  margin-bottom: 16px;
  font-size: 11px;
}

h1#page-title {
  margin-bottom: 1em;
}


.item-list ul.pager {
  background-color: #004874;
  padding: 0.5em 0;
}

.item-list ul.pager li {
  padding: 0;
  margin-left: 0.5em;
}
.item-list ul.pager li a {
  color:#fff;
}
.node .link-wrapper {
  margin: 10px 0;
  text-align: right;
}


/* Node */

.nodeheader {
  margin-bottom: 10px;
}
.submitted {
  font-size: 1em;
  color: #68696b;
  padding-bottom: 1em;
  padding-top: 3px;
  float: left;
}
.comment .submitted {
  float: none;
}

.node .node-title {
  margin-bottom: 0.5em;
}

.user-picture {
  float: left;
  margin: 1px 10px 10px 0;
}

.user-picture a {
  border: 4px solid #E6FCB6;
  display: inline-block;
  line-height: 1;
  padding: 1px;
}

.user-picture img {
  vertical-align: middle;
}

.user-picture a:hover {
  border-color: #53B0EB;
}

.node .field-type-taxonomy-term-reference .field-item {
  display: inline;
  margin-right: 10px;
}

.view a.button-action,
#main ul.action-links a,
#main ul.links a {
  background-color: #F6F6F2;
  font-size: 11px;
  padding: 3px 10px;
}

.view a.button-action,
#main ul.action-links a {
  padding-left: 18px;
}

.view a.button-action {
  display: block;
  font-size: 14px;
  padding: 8px 15px;
  background-image: none;
  margin-right: 0;
  margin-bottom: 20px;
}
.view a.button-action:before {
  content:'+ ';
  color: #000;
}
#main ul.action-links a:hover,
#main ul.links a:hover {
  background-color: #E6FCB6;
  color: #064771;
}


.book-navigation .page-links {
  border-bottom: 1px solid #F6F6F2;
  border-top: 1px solid #F6F6F2;
}

.book-navigation .menu {
  border-top: 1px solid #F6F6F2;
}

.field-type-taxonomy-term-reference {
	font-size: 0.857em;
}

.node-readmore {
	font-size: 0.857em;
}

.node-teaser {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid #F6F6F2;
}

/**
 * social links in node
 */
.social-wrapper {
  float: right;
}
.social-wrapper a {
  display: block;
  background-image: url("../images/social.png");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  text-indent: -9000px;
  color: transparent;
  float: left;
  margin-left: 10px;
}
.social-wrapper a.twitter {
  background-position: 0 0;
}
.social-wrapper a.facebook {
  background-position: -30px 0;
}
.social-wrapper a.linkedin {
  background-position: -60px 0;
}

/* Forum */

body.node-type-forum div.node-forum {
  padding: 1em;
}

#forum .forum-head {
  padding-left: 25px;
}

.forum .name {
  margin-top: 10px;
}

.forum .name a {
  font-size: 18px;
}

#forum .description {
  margin-left: 0;
}

/* User showcase - ismerj-meg-minket */

.view-user-showcase table {
  border: 0;
}


.view-user-showcase table tr td:last-child {
  border-right: 0;
}

#content .view-user-showcase table tr:hover,
#content .view-user-showcase table tr:hover td {
  background-color: transparent !important;
}


.view-user-showcase table td {
  vertical-align: top;
  border-right: 1px dotted #F6F6F2;
  border-right: 1px dotted #E6FCB6;
  border-bottom: 1px dotted #F6F6F2;
  border-bottom: 1px dotted #E6FCB6;
}

.view-user-showcase table td.col-last {
  border-right: 0;
}

.view-user-showcase table tr.row-last {
  border-bottom: 0;
}

.view-user-showcase table .views-field-name {
  font-size: 20px;
  padding-bottom: 1em;
}
.view-user-showcase table .views-field-created {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 1em;
  color: #777;
}
/* Comments */

#node-comments .comment {
  padding: 1em;
  padding-right: 0;
  border-bottom: 1px solid #E6FCB6;
  border-left: 3px solid #E6FCB6;
}
#node-comments .comment-new {
	border-color: #96BC44;
}

.indented {
  margin-left: 20px;
}

.new {
	float: left;
  background-color: #E6FCB6;
  color: #96BC44;
  padding: .3em .6em;
	margin-right: .5em;
}

.user-signature {
  margin-top: 5px;
  border-top: 1px solid #F6F6F2;
}

.comment .user-picture {
  float: right;
  margin: 0.3em 0 1em 2em;
}

.comment .user-picture a {
  border: 4px solid #F6F6F2;
  display: inline-block;
  line-height: 1;
  padding: 1px;
}

.comment .user-picture img {
  vertical-align: middle;
}

.comment .user-picture a:hover {
  border-color: #53B0EB;
}

.comment .content img {
  max-width: 100% !important;
}

.comment ul.inline, ul.links.inline {
  display: block;
  text-align: right;
  margin-bottom: 0;
}

.comment h3 {
  margin-bottom: 0;
}

#sidebar-first {
  background-color: #F6F6F2;
}

#sidebar-first .region {
  padding: 0 0 24px 0;
}

#sidebar-first ul.menu {
  margin-bottom: 0;
}
#sidebar-first ul.menu li {
  margin: 0 0 0 1.5em;
}

#sidebar-first .block {
  padding-top: 24px;
  padding-top: 0;
}

#sidebar-first .block .content {
  padding: 0 10px 16px 10px;
}

#sidebar-first .block h2 {
  margin-bottom: 0.2em;
  padding:8px 16px 8px 16px;
  border-bottom: 2px solid #fff;
  letter-spacing: -1px;
  background-color: #e3e2e2;
}

#sidebar-first #block-book-navigation,
#sidebar-first .block-search-api-facets {
  background-color: #E6FCB6;
}

#sidebar-first #block-book-navigation a:hover,
#sidebar-first .block-search-api-facets a:hover {
  color: #064771;
}
#sidebar-first .block-search-api-facets {
	padding-top: 0;
}
#sidebar-first #block-search-api-facets-current-search {
	padding-top: 1em;
}

#sidebar-first .block-search-api-facets h2 {
	font-size: 1.4em;
}
#sidebar-first .block-search-api-facets ul {
	margin-bottom: 0;
}
#sidebar-first .block-search-api-facets .content {
	padding-bottom: .6em;
}

#sidebar-first .block-search-api-page div.content {
  padding-top: 5px;
}

#sidebar-first .block-search-api-page div {
  float: left;
}

#sidebar-first .block-search-api-page div.form-item {
  margin: 0 10px;
}

#sidebar-first .block-search-api-page div.form-type-textfield input.form-text {
  width: 100px;
}

#sidebar-first .block-search-api-page input.form-submit {
  font-size: 11px;
}

#sidebar-first .search-api-facets li a.active {
  color: #0678BE;
}

#sidebar-first {
  position: relative;
}

#jump-to-top {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 310px;
  border-left:  5px solid #BFBFBF;
}

#jump-to-top a {
  padding: 0.5em;
}

/* job */

.views-exposed-form .views-widget-filter-field_job_remotely_value {
  padding-bottom: 2em;
}
.view-job .views-exposed-form .views-exposed-widgets {
  margin-bottom: 0;
}
.view-job .views-exposed-form .views-exposed-widget {
  
}
#sidebar-first .view-job .views-row {
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #E3E2E2;
}

#sidebar-first .view-job .views-row-last {
  padding-bottom: 0;
  margin-bottom: 0;
  border-bottom: 0;
}

#sidebar-first .view-job .views-field-created span {
  font-size: 10px;
  color: #888;
}

#sidebar-first .more-link {
  padding-top: 2em;
}
.node-job .field {
  margin-bottom: 10px;
}


li.search-result {
	margin-left: 0;
	padding: .5em .5em 1.5em .5em;
	margin-bottom: .5em;
	border-bottom: 1px dotted #9d9d93;
}
li.search-result:hover {
	background-color: #E6FCB6;
}
li.search-result p {
	margin-bottom: .3em;
	margin-left: 1em;
}
li.search-result h3 {
	margin-bottom: .6em;
}
/* Footer */

#footer-wrapper {
  padding: 20px 0 0 0;
  background-color: #F6F6F2;
  border-top: 1px solid #bfbfbe;
}

#footer-columns .content {
  font-size: 11px;
}

#footer {
  border-top: 1px solid #FFF;
  border-top: 1px solid #a4a4a2;
  background-color: #bfbfbe;
}

#footer .content {
  padding-bottom: 2em;
}

#footer p {
  line-height: 2em;
}
/* content dependant rules */

#block-block-26 {
  height: 302px;
  background: url(../images/highlight-1-bkg.png) 50% 0;
}

#block-block-30 p { /* trademark */
	margin-top: 1em;
	text-align: center;
	font-size: 0.857em;
}

/* Planet and other node listings */
.views-row .node { margin-bottom: 2em; }

/* user showcase, ismerj meg minket */
.view-id-user_showcase td { vertical-align: top; }

/* drupal hetvege 2011 front page highlight - valojaban a block-26, full html */
#block-block-26 .content a {
	display: block;
	margin: 0;
	padding: 1em;
	color: white;
}
#block-block-26 .content a:hover {
	color: #e6fcb6;
}
#hetvege2011-hir {
	float: left;
	width: 435px;
	height: 302px;
	background: #064771 url(../images/hetvege2011-csoport.jpg) no-repeat scroll bottom left;
}
#hetvege2011-hir span {
	line-height: normal;
}
#hetvege2011-hir span.title {
	font-size: 40px;
	font-weight: bold;
	letter-spacing: -4px;
}
#hetvege2011-hir span.date {
	font-size: 32px;
}
#hetvege2011-hir span.reg {
	font-size: 16px;
}

#hetvege2011-akciok {
	float: right;
	width: 525px;
	height: 302px;
}

#hetvege2011-akciok a {
	font-size: 20px;
	line-height: normal;
	height: 111px;
	background: transparent url(../images/hetvege2011-button-bg.jpg) repeat-x scroll left top;
	position: relative;
}

#hetvege2011-akciok a span.button {
	font-size: 14px;
	position: absolute;
	bottom: 20px;
	right: 20px;
}

.view-planet-feed-list .views-field-picture{
  overflow: hidden;
}
.node-book-form .group-book-infos{
  padding: 10px;
  border: 1px solid #E3E2E2;
}

/* blockquote */ 

blockquote {
  font-style: italic;
  position: relative;
  margin: 0.25em 0;
  padding: 0.25em 40px;
}
blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: 20px;
  color: #7a7a7a;
}
blockquote:after {
  display: block;
  content: "\201d";
  font-size: 80px;
  position: absolute;
  right: 0;
  bottom: 0;
  color: #7a7a7a;
}

/**
 * eloadas tablazat
 */
 
#main table.program a {
  display: block;
  font-weight: bold;
}
#main table.program td,
#main table.program th {
  text-align: center;
  width: 42%;
  border: 1px solid #CCC;
  padding: 0.5em;
}
#main table.program td.time,
#main table.program th.time {
  width: 15%;
  white-space: no-wrap;
}
div.eloadas-tipus {
  font-style: italic;
}
h2.eloadas-cim {
  clear: both;
  padding-top: 13px;
  font-size: 16px;
}
 
/* fieldset */

fieldset {
  padding: 10px;
  border: 1px solid #CCC;
}

/**
 * Footer blocks
 */
.region-footer-firstcolumn .block {
  padding: 0 0 20px 0;
}

/**
 * view-link-ajanlo 
 */
.view-link-ajanlo {
  
}
.view-link-ajanlo table {
  border: 0;
}
#content .view-link-ajanlo tr:hover,
#content .view-link-ajanlo tr:hover td{
  background-color: transparent !important;
}
.view-link-ajanlo tr td {
  width: 50%;
}
.view-link-ajanlo tr {
  border-bottom:1px solid #F6F6F2;
}
.view-link-ajanlo tr td:last-child {
  border-right: 0;
}
.view-link-ajanlo .views-field-title {
  margin-bottom: 20px;
}
.view-link-ajanlo .views-field-title a {
  font-size: 16px;
  color: ;
}

/**
 * view-job view-filters
 */
.view-job .view-filters {
  border:1px solid #F6F6F2;
  padding: 10px;
  margin-bottom: 20px;
}
.view-job .view-filters h3 {
  font-size: 14px;
  cursor: pointer;
}

/**
 * Download block
 */

#block-drupalorg-scraper-releases .current,
#block-drupalorg-scraper-releases .previous {
    float: none;
}

#block-drupalorg-scraper-releases .previous a {
    color: grey;
}

#block-drupalorg-scraper-releases .previous a:hover {
    color: black;
}

/**
 * node type list
 */
.node-type-list {
  
}
.node-type-list dt {
  margin-top: 8px;
}
.node-type-list dt a {
  font-weight: bold;
}
.node-type-list dd {
  border-bottom: 1px solid #bdbdbd;
  padding-bottom: 8px;
}