fastcgi_param SCRIPT_FILENAME   $document_root$fastcgi_script_name;
fastcgi_param PATH_INFO         $fastcgi_path_info;
fastcgi_param PHP_VALUE         "error_log=/home/circleci/slash/var/log/php/$project_name.$site_name-error.log";
