# Ignore configuration files that may contain sensitive information.
files/*
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private


#idea - PhpStorm

.idea


#Den
dhu.node
.ht-php-error.log

