
/artifacts/
/reports/
/tmp/

/docroot/core/
/docroot/libraries/
/docroot/modules/contrib/
/docroot/profiles/contrib/
/docroot/themes/contrib/
/docroot/themes/custom/*/.bundle/
/docroot/themes/custom/*/assets/
/docroot/themes/custom/*/**/*.css
/docroot/themes/custom/*/**/*.css.map
/docroot/themes/custom/*/**/*.css.min.map
/docroot/themes/custom/*/**/*.min.js
/**/node_modules/
/**/gulp.config.*.json

/docroot/sites/simpletest/

/docroot/sites/*/files/
/docroot/sites/*/settings.*.php
/docroot/sites/*/local.drush.yml
/docroot/sites/*/local.services.yml

/drush/Commands/contrib/
/drush/drush.*.yml
!/drush/drush.app.yml
!/drush/drush.local.example.yml

/sites/all/translations/*
!/sites/all/translations/app*.po

/sites/*/backup/
/sites/*/php_storage/
/sites/*/private/
/sites/*/temporary/
/sites/*/hash_salt.txt
/sites/*/test.sqlite

/behat.*.yml
!/behat.local.example.yml

/vendor/
/composer.local*.json
/composer.local*.lock

/.env
/.env.ddev
/.env.host

/phpcs.xml

/phpunit.xml
/phpunit.*.xml

/phpstan.neon
