<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
  bootstrap="docroot/core/tests/bootstrap.php"
  colors="true"
  failOnWarning="true"
  beStrictAboutOutputDuringTests="true"
  beStrictAboutChangesToGlobalState="true">

  <php>
    <ini name="error_reporting" value="32767" />
    <ini name="memory_limit" value="-1" />

    <env name="DTT_BASE_URL" value="http://drupalhu.localhost" />
    <env name="DTT_SCREENSHOT_REPORT_DIRECTORY" value="../reports/human/functional-javascript" />

    <env name="SIMPLETEST_BASE_URL" value="http://drupalhu.localhost" />
    <env name="SIMPLETEST_DB" value="mysql://root:mysql@127.0.0.1:3306/drupalhu__default" />

    <env name="BROWSERTEST_OUTPUT_DIRECTORY" value="./reports/human/browser_output" />
    <env name="BROWSERTEST_OUTPUT_BASE_URL" value="" />

    <env name="SYMFONY_DEPRECATIONS_HELPER" value="/Drupal\\app(p|b|f|_.+?)\\/" />
    <!--<env name="MINK_DRIVER_CLASS" value="Drupal\FunctionalJavascriptTests\DrupalSelenium2Driver" />-->
    <!--<env name="MINK_DRIVER_ARGS" value='["chrome", null, "http://127.0.0.1:4444/wd/hub"]' />-->
    <!--<env name="MINK_DRIVER_ARGS" value='["opera", null, "http://127.0.0.1:4444/wd/hub"]' />-->
    <!--<env name="MINK_DRIVER_ARGS_WEBDRIVER" value='["firefox", null, "http://127.0.0.1:4444/wd/hub"]'/>-->
  </php>

  <testsuites>
    <testsuite name="unit">
      <directory>./docroot/profiles/custom/*/tests/src/Unit/</directory>
      <directory>./docroot/modules/custom/*/tests/src/Unit/</directory>
      <directory>./docroot/themes/custom/*/tests/src/Unit/</directory>
      <directory>./drush/Commands/custom/*/tests/src/Unit/</directory>
      <directory>./tests/src/Unit/</directory>
    </testsuite>

    <testsuite name="functional-javascript">
      <!--<directory>./docroot/profiles/custom/*/tests/src/FunctionalJavascript/</directory>-->
      <!--<directory>./docroot/modules/custom/*/tests/src/FunctionalJavascript/</directory>-->
      <!--<directory>./docroot/themes/custom/*/tests/src/FunctionalJavascript/</directory>-->
      <!--<directory>./drush/Commands/custom/*/tests/src/FunctionalJavascript/</directory>-->
      <directory>./tests/src/FunctionalJavascript/</directory>
    </testsuite>
  </testsuites>

  <listeners>
    <listener class="\Drupal\Tests\Listeners\DrupalListener" />
    <!-- The Symfony deprecation listener has to come after the Drupal deprecation listener -->
    <listener class="\Symfony\Bridge\PhpUnit\SymfonyTestsListener" />
  </listeners>

  <logging>
    <testdoxHtml outputFile="reports/human/result/phpunit.html" />
    <junit outputFile="reports/machine/result/phpunit.xml" />
  </logging>

  <coverage processUncoveredFiles="true">
    <include>
      <directory>./docroot/profiles/custom/</directory>
      <directory>./docroot/modules/custom/</directory>
      <directory>./docroot/themes/custom/</directory>
      <directory>./drush/Commands/custom/</directory>
    </include>
    <exclude>
      <directory>./docroot/profiles/custom/*/tests/</directory>
      <directory>./docroot/profiles/custom/*/node_modules/</directory>
      <directory>./docroot/modules/custom/*/tests/</directory>
      <directory>./docroot/modules/custom/*/node_modules/</directory>
      <directory>./docroot/themes/custom/*/tests/</directory>
      <directory>./docroot/themes/custom/*/node_modules/</directory>
      <directory>./drush/Commands/custom/*/tests/</directory>
    </exclude>

    <report>
      <text outputFile="php://stdout" />
      <html outputDirectory="reports/human/coverage/phpunit.html" />
      <clover outputFile="reports/machine/coverage/phpunit.clover.xml" />
      <php outputFile="reports/machine/coverage/phpunit.php" />
      <xml outputDirectory="reports/machine/coverage/phpunit.xml" />
    </report>
  </coverage>
</phpunit>
