.navbar-default {
  background-color: $blue-100;
  background-image: url("../img/main-nav-right-shadow.png");
  background-position: center right;
  background-repeat: repeat-y;
  border: 0;
  border-radius: 0;
}

