<div id="{{ key }}" class="styleguide-item">
  <h2 class="styleguide-item__title">{{ item.title }}</h2>
  {% if item.description %}
    <p class="styleguide-item__description">{{ item.description }}</p>
  {% endif %}
  <div class="styleguide-item__content">{{ content }}</div>
</div>
