parameters:
	ignoreErrors:
		-
			message: "#^Unsafe usage of new static\\(\\)\\.$#"
			count: 1
			path: ../docroot/modules/custom/app_core/src/Plugin/Styleguide/CoreStatusMessages.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\ArtifactCollectFilesTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\CopyFilesTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\FilesystemSymlinkTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:setSymlinkFilePath\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\PrepareDirectoryTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\VersionNumberBumpExtensionInfoTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\VersionNumberBumpExtensionInfoTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:setBumpComposerJson\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\VersionNumberBumpExtensionInfoTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:setBumpExtensionInfo\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setOptions\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:withBuilder\\(\\)\\.$#"
			count: 2
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 2
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:getState\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Base\\\\ExecStack\\:\\:dir\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Composer\\\\Update\\:\\:noDev\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitCloneAndCleanTask\\:\\:setRemoteName\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitConfigGetTask\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListFilesTask\\:\\:setPaths\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitTagListTask\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Task\\\\Base\\\\ExecStack\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Task\\\\Composer\\\\Update\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitCloneAndCleanTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Method Drush\\\\Commands\\\\app\\\\AppArtifactAcquiaCommands\\:\\:getTaskGitCloneAndCleanClone\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppArtifactAcquiaCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\NodeDetectorTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:withBuilder\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListFilesTask\\:\\:setPaths\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitListStagedFilesTask\\:\\:setDiffFilter\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Sweetchuck\\\\Robo\\\\Git\\\\Task\\\\GitReadStagedFilesTask\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Parameter \\#2 \\$reference of class Robo\\\\Collection\\\\CallableTask constructor expects Robo\\\\Contract\\\\TaskInterface, Robo\\\\Collection\\\\CollectionInterface given\\.$#"
			count: 3
			path: ../drush/Commands/custom/app/AppLintCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:getState\\(\\)\\.$#"
			count: 3
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:iterationMessage\\(\\)\\.$#"
			count: 3
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\File\\\\Write\\:\\:text\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:copy\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Filesystem\\\\FilesystemStack\\:\\:mkdir\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\TaskForEach\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 3
			path: ../drush/Commands/custom/app/AppOnboardingCommands.php

		-
			message: "#^Call to an undefined method DrupalHu\\\\DrupalHu\\\\Tests\\\\Robo\\\\Task\\\\AppSearchApiSolrIndexClearTask\\|Robo\\\\Collection\\\\CollectionBuilder\\:\\:setBaseUrl\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppSearchApiCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:iterationMessage\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppSearchApiCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\TaskForEach\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppSearchApiCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Collection\\\\TaskForEach\\:\\:iterationMessage\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppTestCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\|Robo\\\\Task\\\\Base\\\\ExecStack\\:\\:envVars\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppTestCommands.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\TaskForEach\\:\\:deferTaskConfiguration\\(\\)\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/AppTestCommands.php

		-
			message: "#^Ternary operator condition is always true\\.$#"
			count: 1
			path: ../drush/Commands/custom/app/CommandsBase.php

		-
			message: "#^Parameter \\#1 \\$account of method DrupalHu\\\\DrupalHu\\\\Tests\\\\FunctionalJavascript\\\\TestBase\\:\\:entityLegalAcceptDocuments\\(\\) expects Drupal\\\\Core\\\\Session\\\\AccountInterface, Drupal\\\\user\\\\Entity\\\\User\\|false given\\.$#"
			count: 2
			path: ../tests/src/FunctionalJavascript/NodeAccessTestBase.php

		-
			message: "#^Parameter \\#1 \\$url of method weitzman\\\\DrupalTestTraits\\\\ExistingSiteBase\\:\\:visit\\(\\) expects string, Drupal\\\\Core\\\\GeneratedUrl\\|string given\\.$#"
			count: 3
			path: ../tests/src/FunctionalJavascript/NodeAccessTestBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Session\\\\AccountInterface\\:\\:\\$passRaw\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Access to an undefined property Drupal\\\\Core\\\\Session\\\\AccountInterface\\:\\:\\$sessionId\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Call to an undefined method object\\:\\:setAccount\\(\\)\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^If condition is always true\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Method DrupalHu\\\\DrupalHu\\\\Tests\\\\FunctionalJavascript\\\\TestBase\\:\\:drupalLogin\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Method DrupalHu\\\\DrupalHu\\\\Tests\\\\FunctionalJavascript\\\\TestBase\\:\\:getContainer\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Method DrupalHu\\\\DrupalHu\\\\Tests\\\\FunctionalJavascript\\\\TestBase\\:\\:initFinders\\(\\) has no return type specified\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Property weitzman\\\\DrupalTestTraits\\\\ExistingSiteBase\\:\\:\\$loggedInUser \\(Drupal\\\\user\\\\UserInterface\\) does not accept Drupal\\\\Core\\\\Session\\\\AccountInterface\\.$#"
			count: 1
			path: ../tests/src/FunctionalJavascript/TestBase.php

		-
			message: "#^Parameter \\#2 \\$callback of function array_filter expects callable\\('docroot/\\.htaccess'\\|'docroot/favicon\\.ico'\\|'docroot/robots\\.txt'\\|'patches\\.lock'\\|'patches\\.lock\\.json'\\|'sites/all/assets…'\\)\\: mixed, Sweetchuck\\\\Utils\\\\Filter\\\\ArrayFilterFileSystemExists given\\.$#"
			count: 1
			path: ../tests/src/Robo/Task/ArtifactCollectFilesTask.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:addArgument\\(\\)\\.$#"
			count: 1
			path: ../tests/src/Robo/Task/NodeDetectorTask.php

		-
			message: "#^Call to an undefined method Robo\\\\Collection\\\\CollectionBuilder\\:\\:setWorkingDirectory\\(\\)\\.$#"
			count: 1
			path: ../tests/src/Robo/Task/NodeDetectorTask.php
