.paragraphs-dropbutton-wrapper {
  .dropbutton-widget {
    height: 4.5rem;
  }

  .dropbutton-action {
    -webkit-padding-start: 0.6rem;
       -moz-padding-start: 0.6rem;
            padding-inline-start: 0.6rem;
  }
}
