/**
 * Footer style.
 */

#footer-wrapper {
  padding: 20px 0 0 0;
  background-color: #F6F6F2;
  border-top: 1px solid #bfbfbe;
}
#footer-columns .content {
  font-size: 11px;
}
#footer {
  border-top: 1px solid #FFF;
  border-top: 1px solid #a4a4a2;
  background-color: #bfbfbe;
}

#footer .content {
  padding-bottom: 2em;
}

#footer p {
  line-height: 2em;
}