$font-family-sans-serif:  'Open Sans', sans-serif;
$font-family-base:        $font-family-sans-serif !default;

// Override default Bootstrap variables
$body-bg: #fff;

// Colors
$link: #0678be;
$link-hover: #53b0eb;
