// Import compass basics.
@import "compass/css3";

/**
 * Style front page.
 */
body.front .tabs{
  display: none;
}
body.front #content {
  padding-top: 0;
}
body.front .views-slideshow-cycle-main-frame  {
  position: relative;

  .views-field-title {
    margin-bottom: 5px;

    a {
      font-size: 18px;
    }
  }
  .slidetext {
    position: absolute;
    bottom:3px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, .8);
    width: 100%;
  }

}
body.front #front h2.pane-title {
  margin-bottom: 15px;
}
.views-slideshow-controls-text {
  position: relative;

  a {
    text-indent: -9000px;
    display: block;
    color: transparent;
    width: 18px;
    height: 30px;
    top: 130px;
    background-image:url('../img/slide_control.png');
    background-image: transparent;
    background-repeat: no-repeat;
  }
  .views-slideshow-controls-text-pause {
    display: none;
  }
  .views-slideshow-controls-text-previous a {
    background-position: 0 -42px;
    position: absolute;
    left: -30px;
  }
  .views-slideshow-controls-text-next a {
    background-position: 0 0;
    position: absolute;
    right: -30px;
  }
}

/**
 * event and recent blocks
 */
body.front .view-recent-events,
body.front .view-recent-news,
body.front .view-recent-planet {
  .views-row  {
    overflow: hidden;
    margin-bottom: 10px;
  }
  .views-field-created {
    background-color: #004874;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #fff;
    float: left;
    margin: 0 10px 0 0;

    span {
      display: block;
      font-size: 18px;
      line-height: 120%;
      padding-top: 7px;
      text-align: center;
    }
  }
  .views-field-title {
    margin-top: 8px;
  }
}

/**
 * body.front .view-recent-planet
 */
body.front .view-recent-planet .views-field-picture {
  float: left;
}
/**
 * job block
 */
body.front .view-job .views-row {
  margin-bottom: 15px;
}
body.front .view-job h4 {
  margin: 5px 0 5px 0;
  font-size: 14px;
}

/**
 * link ajanlo
 */
body.front .view-link-ajanlo {
  .views-row {
    display: inline-block;
    width: 216px;
    vertical-align: top;
    padding: 0 5px 0 15px;
    border-right: 1px solid #ECF0F5;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
  }
  .views-field-title {
    margin-bottom: 0;
    margin-top: 5px;

    a {
      font-size: 1.5em;
      @include transition(all 0.25s ease 0s);

      &:hover {
        @include transition(0.25s);
        -webkit-backface-visibility: hidden;
      }
    }
  }
  //.views-field-title,
  .view-footer {
    margin-top: 10px;
  }
}