// Import compass basics.
@import "compass/css3";

/**
 * search result pages
 *
 * Code by Istvan Csaki
 */
 
 /**
 * search form in header
 */
#triptych #block-views-exp-dhusearch-page,
#triptych .block-search-api-page {
  padding: 19px 5px 0 5px;
}

/**
 * search result style
 */
.view-multi-index-kereso .views-row  {
  margin-bottom: 15px;
}

.view-multi-index-kereso .comment {
  background: url("../images/comment_icon.png") no-repeat scroll 11px 11px #00588D;
  padding-left: 53px;
}

.view-multi-index-kereso .comment .comment-in-wrapper {
  background-color: #fff;
  padding-left: 10px;
}
