#navbar {
  padding-top: 40px;
  margin-top: 0;
}

.menu-secondary {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar .primary {
  float: right;
  margin-right: -25px;
  margin-top: 11px;

  li > a {
    border-right: 1px solid #E6E6E6;
    font-size: 16px;
    padding: 15px 25px;
  }
}
