/* normalize-rtl.css - RTL language extension of normalize.scss. */

/* =============================================================================
   Lists
   ========================================================================== */

/*
 * Addresses margins set differently in IE6/7
 */

dd {
  margin: 0 30px 0 0;
}

/*
 * Addresses paddings set differently in IE6/7
 */

menu,
ol,
ul,
.item-list ul /* Drupal override */ {
  padding: 0 30px 0 0;
}

/* =============================================================================
   Forms
   ========================================================================== */

/*
 * 3. Corrects alignment displayed oddly in IE6/7
 */

legend {
  *margin-left: 0;
  *margin-right: -7px; /* 3 */
}

/* =============================================================================
   Tables
   ========================================================================== */

th {
  text-align: right;
}
