@import "../lib";

.book-navigation {
  .menu {
    padding-top: 1em;
    padding-bottom: 0;
    border-top: 1px solid $border-color;
  }

  .book-pager {
    margin: 0;
    padding: 0.5em 0;
    overflow: auto;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
  }
}

.book-pager__item {
  display: inline-block;
  list-style-type: none;
  vertical-align: top;

  &--previous {
    width: 45%;
    text-align: start;
  }

  &--center {
    width: 8%;
    text-align: center;
  }

  &--next {
    width: 45%;
    float: end;
    text-align: end;
  }
}
