@import "../lib";

.comment-wrapper {
  h2 {
    margin-bottom: 1em;
  }
}

.comment {
  display: table;
  margin-bottom: $comment-spacer-y;
  vertical-align: top;

  &__meta {
    padding: 0 30px 0 0;
    font-size: $font-size-base;
  }

  &__attribution {
    img {
      border: 1px solid $border-color;
    }
  }

  &__author {
    margin: 4px 0;
    line-height: 1.2;

    .username {
      white-space: nowrap;
    }
  }

  &__time,
  &__permalink {
    margin-bottom: 4px;
    padding: 0 0.5em 0 0;
    color: $gray-600;
    font-size: $font-size-sm;
    line-height: 1.2;
  }

  &__permalink {
    font-size: $font-size-sm;
    line-height: 1.2;
  }

  &__content {
    h3 {
      margin-top: 0.94em;
      margin-bottom: 0.45em;
      font-size: $font-size-lg;
    }

    nav {
      padding-top: 1px;
    }

    &:before {
      content: "";
      position: absolute;
      top: $comment-spacer-y;
      right: 100%;
      border-top: $comment-spacer-y solid transparent;
      border-right: $comment-spacer-x solid $border-color;
      border-bottom: $comment-spacer-y solid transparent;

      @if $is-dir-rtl-supported {
        [dir="rtl"] & {
          right: auto;
          left: 100%;
        }
      }

      &:after {
        content: "";
        position: absolute;
        top: $comment-spacer-y;
        right: 100%;
        border-top: $comment-spacer-y solid transparent;
        border-right: $comment-spacer-x solid $white;
        border-bottom: $comment-spacer-y solid transparent;

        @if $is-dir-rtl-supported {
          [dir="rtl"] & {
            right: auto;
            left: 100%;
          }
        }
      }
    }
  }

  &--unpublished {
    margin-right: 5px;
    padding: 5px 2px 5px 5px;
    background: $accent-light;
  }

  .links {
    padding: 0 0 0.25em;
  }

  .links-inline {
    span {
      padding: 0 0 0 0.5em;
      font-size: $font-size-base;
    }
  }
}

.indented {
  margin-left: 40px;
}

.unpublished {
  padding: $comment-spacer-y $comment-spacer-x 0;

  .comment-text {
    .comment-arrow {
      border-inline: 1px solid $accent-light;
    }
  }
}

.comment-footer {
  display: table-row;
}

.comment--unpublished,
.node--unpublished {
  .comment__text:after {
    border-inline-end-color: $accent-light;
  }
}
