@import "../lib";

details {
  margin-top: $spacer;
  margin-bottom: $spacer;
  border: 1px solid $border-color;

  > .details-wrapper {
    padding: 0.5em 1.5em;
  }
}


// @todo Regression: The summary of uncollapsible details are no longer
//  vertically aligned with the .details-wrapper in browsers without native
//  details support.
summary {
  padding: 0.2em 0.5em;
  cursor: pointer;
}
