@import "../lib";

.js {
  .dropbutton-wrapper,
  .dropbutton-widget {
    display: block;
    position: relative;
  }

  .dropbutton-widget {
    margin: 0.125em 0;
    overflow: hidden;
    border: 1px solid $gray-400;
    border-radius: 1em;
    background-color: $white;
    background-image: linear-gradient(to bottom, $gray-200, $gray-400);
    color: $gray-800;
    text-align: center;
    cursor: pointer;

    .button {
      margin: 0;
      padding: 0.32em 1em;
      border: 0;
      background: transparent none;
    }
  }

  td .dropbutton-widget {
    position: absolute;
  }

  .dropbutton-widget:hover {
    border-color: $gray-500;
  }
}

.dropbutton {
  .secondary-action {
    border-top: 1px solid $gray-300;

    > * {
      padding: 0.1em 0.5em;
      white-space: nowrap;
    }
  }
}

.js .dropbutton {
  .secondary-action {
    border-top-color: $gray-400;
  }

  a {
    border-bottom: 0 none;
    color: $gray-800;
  }

  .dropbutton-action:hover,
  a:hover {
    border-bottom: 0 none;
    background: $gray-400;
  }
}

.dropbutton-multiple {
  .dropbutton {
    border-right: 1px solid $gray-300;

    @if $is-dir-rtl-supported {
      [dir="rtl"] & {
        border-right: 0 none;
        border-left: 1px solid $gray-300;
      }
    }
  }

  .dropbutton-action > * {
    margin-right: 0.25em;

    @if $is-dir-rtl-supported {
      [dir="rtl"] & {
        margin-right: 0;
        margin-left: 0.25em;
      }
    }
  }
}

.js .dropbutton-multiple .dropbutton-widget .dropbutton-action a {
  margin-right: 0;
}

.js td {
  .dropbutton-multiple {
    max-width: 100%;
    margin-right: 2em;
    padding-right: 10em;
  }

  .dropbutton-wrapper {
    min-height: 2em;
  }
}

.js .dropbutton-wrapper .dropbutton-widget {
  // This is required to win over specifity of .js td .dropbutton-widget.
  position: relative;
}

.js .dropbutton-toggle {
  button {
    background-color: $gray-200;
    background-image: linear-gradient(to bottom, $gray-200, $gray-300);
  }

  .dropbutton-arrow:hover {
    background: $gray-400;
  }
}
