@import "../lib";

.js {
    .dropbutton-widget {
        border: 1px solid;
        border-block-color: #e4e4e4;
        border-inline-color: #d2d2d2;

        background-color: #ffffff;
        background-image: -webkit-linear-gradient(top, #f3f3f3, #e8e8e8);
        background-image: linear-gradient(to bottom, #f3f3f3, #e8e8e8);
        color: #3a3a3a;
        cursor: pointer;
        text-align: center;
        margin: 0.125em 0;
        border-radius: 1em;
        overflow: hidden;

        &:hover {
            border-color: #e4e4e4 #d2d2d2 #b4b4b4 #d2d2d2;
        }

        .button {
            border: none;
            margin: 0;
            padding: 0.32em 1em;
            background: transparent none;
        }
    }

    .dropbutton-wrapper {
        .dropbutton-widget {
            position: relative;
        }
    }

    .dropbutton-multiple {
        .dropbutton-widget {
            .dropbutton-action {
                a {
                    margin-inline-start: 0;
                }
            }
        }
    }

    .dropbutton {
        .secondary-action {
            border-block-start-color: #cccccc;
        }

        a {
            color: #3a3a3a;
            border-block-end: 0 none;
        }

        .dropbutton-action:hover,
        a:hover {
            background: #dedede;
            border-block-end: 0 none;
        }
    }

    .dropbutton-toggle {
        button {
            background-color: #e8e8e8;
            background-image: -webkit-linear-gradient(top, #e8e8e8, #d2d2d2);
            background-image: linear-gradient(to bottom, #e8e8e8, #d2d2d2);
        }

        .dropbutton-arrow:hover {
            background: #cccccc;
        }
    }
}
