@import "../lib";

.field--label-inline {
  .field__label,
  .field__item {
    display: inline-block
  }
}

.field--type-entity-reference {
  margin: 0 0 ($spacer * 1.2);

  .field__label {
    margin: 0;
    padding-right: ($spacer * 0.3);
    font-weight: normal;
  }

  ul.links {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 0 $spacer 0 0;
      float: start;
      white-space: nowrap;
    }
  }
}

.field--type-image {
  img {
    margin: 0 0 $spacer;
  }

  a {
    border-bottom: 0;
  }
}

@media all and (min-width: 560px) {
  .field--type-image {
    margin: 0 0 0 $spacer;
    float: start;

    + .field--type-image {
      clear: both;
    }
  }
}
