@import "../lib";

.icon-help {
  padding: 1px ($spacer * 1.2);
  background: url("#{$app-base-dir}/images/help.png") 0 50% no-repeat;
}

.feed-icon {
  display: block;
  width: $font-size-base;
  height: $font-size-base;
  overflow: hidden;
  background: url("#{$app-base-dir}/images/feed.svg") no-repeat;
  text-indent: -9999px;
}
