@import "../lib";

.image-button {
  &.is-disabled,
  &.is-disabled:hover,
  &.is-disabled:active,
  &.is-disabled:focus {
    opacity: 0.5;
    background-color: transparent;
    cursor: default;
  }
}
