@import "../lib";

.item-list {
  ul {
    margin: 0 0 $list-group-item-padding-y;
    padding: 0;
    list-style: none;

    li {
      margin: 0;
      padding: $list-group-item-padding-y 0 0 $list-group-item-padding-x;
    }
  }

  .item-list__comma-list,
  .item-list__comma-list li {
    padding: 0;
  }
}
