@import "../lib";

.list-group {
  &__link {
    padding: $list-group-item-padding-y 0 0;
    border-top: $border-width solid $border-color;
  }

  &__description {
    margin: 0 0 $list-group-item-padding-y;
  }
}
