@import "../lib";

.node-preview {
  &-container {
    @include app-sticky-separator-bottom($black);
    position: fixed;
    z-index: 499;
    width: 100%;
    padding: 10px;
    background: linear-gradient(to bottom, lighten(theme-color("primary"), 25%), lighten(theme-color("primary"), 20%));
    font-family: $font-family-base;
  }

  &-backlink {
    @include app-action-link($white, theme-color("primary"));
    margin: 0;
  }
}
