@import "../lib";

.node {
  &__meta {
    margin-bottom: -5px;
    font-size: $font-size-sm;
  }

  &__content {
    margin-top: $spacer;
    font-size: $font-size-base;
  }

  &__links {
    font-size: $font-size-base;
    text-align: end;
  }

  &--view-mode-teaser {
    padding-bottom: $spacer;
    border-bottom: $border-width solid $border-color;

    &.node--sticky {
      padding: 0 $spacer $spacer;
      border: $border-width solid $border-color;
      background-color: $gray-100;
    }

    h2 {
      margin-top: 0;
      padding-top: 0.5em;
    }

    .node__content {
      clear: none;
      font-size: $font-size-base;
      line-height: $line-height-base;
    }
  }

  &--unpublished {
    padding: $spacer $spacer 0 0;

    // @todo Detach comment theming from node entity.
    .comment-text {
      .comment-arrow {
        border-inline: $border-width solid $white;
      }
    }
  }
}
