@import "../lib";

.page-user-login,
.page-user-password {
  main {
    .region-content {
      max-width: 400px;
      margin: 0 auto;
      padding: $spacer;
      border-radius: $border-radius-lg;
      background: $white;
    }
  }
}
