@import "../lib";

.password-strength {
  &__meter {
    margin-top: 0.5em;
    background-color: $gray-200;
  }

  &__indicator {
    transition: width 0.5s ease-out;
    background-color: theme-color("success");

    &.is-weak {
      background-color: theme-color("danger");
    }

    &is-fair {
      background-color: theme-color("warning");
    }

    &.is-good {
      background-color: theme-color("info");
    }

    &.is-strong {
      background-color: theme-color("success");
    }
  }
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match {
  width: 55%;
}

.password-suggestions {
  max-width: 34.7em;
  margin: 0.7em 0;
  padding: 0.2em 0.5em;
  border: $border-width solid $border-color;

  ul {
    margin-bottom: 0;
  }
}

.confirm-parent,
.password-parent {
  max-width: 33em;
  margin: 0;
  clear: left;
  overflow: hidden;

  @if $is-dir-rtl-supported {
    [dir="rtl"] & {
      clear: right;
    }
  }
}

.password-confirm {
  .ok {
    color: theme-color("success");
    font-weight: bold;
  }

  .error {
    color: theme-color("danger");
    font-weight: bold;
  }
}
