@import "../lib";

.password-strength {
    &__meter {
        margin-top: 0.5em;
        background-color: $gray-200;
    }

    &__indicator {
        background-color: theme-color("success");
        -webkit-transition: width 0.5s ease-out;
        transition: width 0.5s ease-out;

        &.is-weak {
            background-color: theme-color("danger");
        }

        &is-fair {
            background-color: theme-color("warning");
        }

        &.is-good {
            background-color: theme-color("info");
        }

        &.is-strong {
            background-color: theme-color("success");
        }
    }
}

.password-confirm,
.password-field,
.password-strength,
.password-confirm-match {
    width: 55%;
}

.password-suggestions {
    padding: 0.2em 0.5em;
    margin: 0.7em 0;
    max-width: 34.7em;
    border: $border-width solid $border-color;

    ul {
        margin-bottom: 0;
    }
}

.confirm-parent,
.password-parent {
    clear: left;
    margin: 0;
    max-width: 33em;
    overflow: hidden;

    [dir="rtl"] & {
        clear: right;
    }
}

.password-confirm {
    .ok {
        color: theme-color("success");
        font-weight: bold;
    }

    .error {
        color: theme-color("danger");
        font-weight: bold;
    }
}
