@import "../lib";

.shortcut {
  &-wrapper {
    margin: 2.2em 0 1.1em;

    .page-title {
      margin: 0;
      float: start;
    }
  }

  &-action {
    margin-left: 0.5em;
    padding-top: 0.35em;
    border-bottom: 0;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 0;
    }
  }
}
