@import "../lib";

#sidebar_first {
  height: 100%;
  padding-top: 20px;
  padding-right: 0;
}

@media (max-width: 47.9em) {
  #sidebar_first {
    padding-top: 0;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 41.6%;
  }

  .row-offcanvas {
    position: relative;
    transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
  }

  .row-offcanvas-right {
    &.active {
      right: 41.6%;
    }

    .sidebar-offcanvas {
      right: -41.6%;
    }
  }

  .row-offcanvas-left {
    .sidebar-offcanvas {
      &.active {
        left: 41.6%;
      }

      left: -41.6%;
    }
  }
}
