@import "../lib";

.site-footer {
    padding: $spacer 0;

    &__top {
        .content {
            margin-block-start: 0;
        }
    }

    &__bottom {
        .block {
            margin: ($spacer / 2) 0;
        }

        .content {
            padding: ($spacer / 2) 0;
            margin-block-start: 0;
        }
    }

    .layout-container {
        padding: 0 $spacer;
    }
}
