@import "../lib";

tr.drag {
  background-color: $gray-100;
}

tr.drag-previous {
  background-color: $gray-200;
}

// @todo Body???
body div.tabledrag-changed-warning {
  margin-bottom: ($spacer / 2);
}
