@import "../lib";

th.is-active {
  img {
    display: inline;
  }
}

td.is-active {
  background-color: $gray-300;
}

.tablesort {
  width: 14px;
  height: 14px;
  margin: 1px 0 0 5px;
  vertical-align: top;

  &--asc {
    // @todo UTF-8 char?
    background-image: url("/core/misc/icons/ffffff/twistie-down.svg");
  }

  &--desc {
    // @todo UTF-8 char?
    background-image: url("/core/misc/icons/ffffff/twistie-up.svg");
  }
}
