@import "../lib";

th.is-active {
    img {
        display: inline;
    }
}

td.is-active {
    background-color: $gray-300;
}

.tablesort {
    width: 14px;
    height: 14px;
    vertical-align: top;
    margin-block-start: 1px;
    margin-block-end: 0;
    margin-inline-start: 5px;
    margin-inline-end: 0;

    &--asc {
        // @todo UTF-8 char?
        background-image: url(/core/misc/icons/ffffff/twistie-down.svg);
    }

    &--desc {
        // @todo UTF-8 char?
        background-image: url(/core/misc/icons/ffffff/twistie-up.svg);
    }
}
