@import "../lib";

.ui-widget-overlay {
  opacity: 0.7;
  background: $black;
}

.ui-dialog {
  border-radius: 0;

  input,
  select,
  textarea {
    font-size: $font-size-base;
  }

  .button {
    padding: 0.25em 1.063em;
    border: 1px solid $gray-300;
    border-radius: 1em;
    border-right-color: $gray-400;
    border-left-color: $gray-400;
    background-color: $white;
    background-image: linear-gradient(to bottom, $gray-200, $gray-300);

    color: $gray-800;
    font-size: $font-size-base;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
  }
}
