@import "../lib";

.vertical-tabs {
  display: flex;
  flex-direction: row;
  margin: 0;
  border: $border-width solid $border-color;
  font-size: $font-size-sm;

  @if $is-dir-rtl-supported {
    [dir="rtl"] & {
      flex-direction: row-reverse;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 15em;
    margin: -1px 0;
    padding: 0;
    list-style: none;
    border-top: $border-width solid $border-color;

    [dir="rtl"] & {
      margin-right: -15em;
    }
  }

  &__menu-item {
    border: $border-width solid $border-color;
    background: $gray-200;
    border-block-start-width: 0;

    &.is-selected {
      background-color: $white;
      border-inline-end-width: 0;

      .vertical-tabs__menu-item-title {
        color: $black;
      }
    }

    a {
      display: block;
      padding: 0.5em 0.6em;
      text-decoration: none;

      &:hover {
        outline: $border-width dotted;
      }

      &:focus,
      &:active,
      &:hover {
        .vertical-tabs__menu-item-title {
          text-decoration: underline;
        }
      }
    }
  }

  &__menu-item-summary {
    display: block;
    margin-bottom: 0;
    line-height: normal;
  }

  &__pane {
    margin: 0;
    border: 0;

    > summary {
      display: none;
    }
  }
}
