@import "../lib";

.views-displays {
  .tabs {
    .open {
      > a {
        border-radius: $border-radius-lg $border-radius-lg 0 0;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }

    .action-list {
      padding: 0;
      font-size: 0.3em;
    }
  }

  .secondary {
    .form-submit {
      font-size: $font-size-sm;
    }
  }
}

.views-filterable-options {
  .filterable-option {
    &:nth-of-type(even) {
      .form-type-checkbox {
        background-color: $gray-100;
      }
    }
  }
}

.views-ui-display-tab-actions {
  .dropbutton {
    .form-submit {
      color: $link-hover-color;

      &:hover,
      &:focus {
        color: $link-color;
      }
    }
  }
}
