.footer-columns {
  background-color: #F6F6F2;
  border-top: 1px solid #bfbfbe;
  padding: 20px 0 0;
}

.footer {
  margin-top: 0;
  border-top: 1px solid #a4a4a2;
  background-color: #bfbfbe;
  text-align: center;
}
