.region-triptych {
  overflow: hidden;

  .region {
    background-color: $riptych;
    min-height: 60px;
  }

  .col-md-4 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .first {
    padding-left: 0;
  }

  .last {
    padding-right: 0;
  }

  h2,
  h3 {
    font-size: 18px;
    font-weight: normal;
    white-space: nowrap;
    padding: 0;
    margin: 0;
  }

  .views-exposed-widgets {
    margin: 0;
    padding: 6px 0 0 12px;
  }

  .views-widget-filter-search_api_multi_fulltext {
    width: 69%;
  }

  .views-exposed-widget {
    margin-left: 0;
    margin-top: 0;
  }

  .form-submit {
    @include border-radius(3px);
    background: none repeat scroll 0 0 #34495E;
    border: medium none;
    box-shadow: none;
    color: $white;
    font-size: 14.5px;
    padding: 7px 13px;
    text-decoration: none;
    text-shadow: none;
    transition: all 0.25s ease 0s;
    width: 100%;

    &:hover {
      @include transition(0.25s);
      background-color: #4e6d8d;
      color: white;
      -webkit-backface-visibility: hidden;
    }
  }

  .views-exposed-form .views-exposed-widget .btn {
    margin-top: 0;
  }

  input.form-text {
    @include border-radius(3px);
    border: 1px solid #DCE4EC;
    box-shadow: none;
    color: #34495E;
    font-family: "Lato",sans-serif;
    font-size: 14px;
    padding: 11px 0 9px 10px;
    text-indent: 1px;
    width: 100%;
  }
}

.region-triptych-middle {
  table {
    border: 0;
    margin: 11px 0 0;

    tr td:last-child {
      border: 0;
    }
  }

  a {
    padding-right: 10px;
  }
}

#block-drupalorg-scraper-releases {
  padding: 9px 5px 0 9px;
  position: relative;

  > h2 {
    margin: 10px 16px 0 0;
    float: left;
  }

  > .block-content {
    > div {
      float: left;
    }

    a {
      color: grey;

      &:hover {
        color: black;
      }

      &.translation-download {
        padding-right: 0;
      }
    }
  }

  .highlight {
    font-size: 2em;
    font-weight: 700;
    padding-right: 0.2em;
    padding-top: 12px;
    margin-right: 5px;

    a {
      color: #34495e;

      &:hover {
        color: #4e6d8d;
      }
    }
  }

  .not-prefered {
    width: 28%;

    a {
      margin-right: 3px;
    }
  }
}

