.navbar-default {
  background-color: transparent;
  border: 0;

  .navbar-nav.secondary > li > a {
    color: $link;

    &:hover {
      color: $link-hover;
    }
  }
}

.navbar .primary {
  li > a {
    font-size: 16px;
    vertical-align: middle;
    color: $black;
    text-decoration: none;

    &:hover {
      color: #555;
    }
  }

  li.last a {
    border-right: 0;
  }
}
