.well {
  background-color: #F6F6F2;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  position: relative;
}

.region-sidebar-first {
  padding-bottom: 24px;

  .block-title {
    margin-bottom: 0.2em;
    padding:8px 16px;
    border-bottom: 2px solid $white;
    letter-spacing: -1px;
    background-color: #e3e2e2;
  }

  .block-content {
    padding: 10px 17px;
  }

  .menu {
    list-style: circle;
    margin-bottom: 0;

    li {
      margin: 0;

      a {
        padding: 0;

        &:hover {
          background-color: transparent;
          text-decoration: underline;
        }
      }
    }
  }

  .view-job {
    .views-row {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #E3E2E2;
    }

    .views-row-last {
      padding-bottom: 0;
      margin-bottom: 0;
      border-bottom: 0;
    }

    .views-field-created span {
      font-size: 10px;
      color: #888;
    }

    h4 {
      margin-top: 0;
    }
  }
}

.jump {
  position: absolute;
  bottom: 20px;
  left: 15px;
  width: 100%;
  border-left:  5px solid #BFBFBF;

  a {
    padding: 0.5em;
  }
}
