@import "lib";

.styleguide-links {
  margin-top: 2em;
  padding: 0.5em 1em;
  border: 1px solid $gray-400;
  background: $gray-200;
  color: $gray-800;

  .item-list {
    width: 20%;
    margin: 0 2em 1em 0;
    float: left;
  }
}

.styleguide-item {
  margin-top: 2em;
  padding: 1em;
  border: 1px solid $gray-400;

  &--header {
    padding: 0.5em 1em;
    background: $gray-200;
    color: $gray-800;
  }

  &__description {
    margin: 0 0 0.5em;
    font-size: 0.8em;
  }
}
