
.views-ui-display-tab-bucket {

  $color-overridden-bg: #fafad2;

  margin-block-end: 1em;

  &:last-child {
    margin-block-end: 0;
  }

  &.overridden {
    background-color: $color-overridden-bg;
    font-style: inherit;

    .views-ui-display-tab-bucket__title {
      font-style: inherit;
    }
  }

  h3 {
    text-transform: none;
  }
}

.views-display-column {

  .details-wrapper {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }
}
