.table-sort--wrapper {
  margin-inline-start: 0.5em;
}

.table-sort--trigger {
  cursor: pointer;

  .table-sort--wrapper.state-inactive & {
    opacity: 0.3;
  }
}

.table-sort--position {
  font-family: monospace;
}

.table-sort--dir {
  margin-inline-start: 0.25em;
}
