
/.dbimageBuild/
/.dbimageExtra/
/.global_commands/
/.homeadditions/
/.sshimageBuild/
/.webimageBuild/
/.webimageExtra/

/apache/apache-site.conf

/commands/db/mysql
/commands/host/launch
/commands/web/live
/commands/web/xdebug
/commands/.gitattributes

/db_snapshots/

/nginx_full/nginx-site.conf

/.env
/**/*.example
!/.env.example
/**/README.*

/.*downloads

/.ddev-docker-*.yaml
/config.*.y*ml

/import-db
/import.yaml
/sequelpro.spf
